/*
Title: Extra Styling for Repair Shop app
Author: Amanda Groves
Date: 26 June 2022
Modified By: Amanda Groves
Description: Message and hover for bobs auto repair
*/

#cart-message {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}

i:hover {
    cursor: pointer;
}

.card-container {
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }